# 整个框架采用SpringBoot+mybatis架构，为日后扩展分布式微服务也搭建了SpringCloud,注册中心采用eureka
# 除开环境搭建外，接口开发表设计，基本采用该服务原本设计甚至等量迁移

server:
  port: 8080  #端口号8088
eureka:
  instance:
    hostname: 127.0.0.1
  server:
    enable-self-preservation: false      # 关闭自我保护模式（默认为打开）
    eviction-interval-timer-in-ms: 600000  # 续期时间，即扫描失效服务的间隔时间 一分钟
  client:
    register-with-eureka: true #注册到注册中心
    fetch-registry: true #是否去注册中心获取其他服务的地址：是
    serviceUrl:
      defaultZone: http://127.0.0.1:8899/eureka/ #注册中心地址
mybatis:
  mapper-locations: mapper/*  #mybatis映射文件路径
  config-location: classpath:/mybatis/mybatis-config.xml #mybatis配置文件路径
  type-aliases-package: com.example.jiuzhou.user.model
spring:
  jackson:
    default-property-inclusion: always
    date-format: "yyyy-MM-dd HH:mm:ss"
    time-zone: "GMT+8"
  application:
    name: jiuzhou-service #项目名aw
  profiles:
    active: prod
  datasource:
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://121.36.209.245:1433;DatabaseName=F2V20InitPark
    username: sa
    password: Fxintel123
    #Mysql
  #  datasource:
  #    url: jdbc:mysql://127.0.0.1:3306/pam?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
  #    username: root
  #    password: wh2234040
  #    driver-class-name: com.mysql.cj.jdbc.Driver
  freemarker:
    prefer-file-system-access: false
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 30000
    lettuce:
      pool:
        max-active: 8   #最大连接数（负值没有限制）
        max-wait: -1ms    #最大阻塞等待时间
        max-idle: 8     #最大空闲连接
        min-idle: 0     #最小空闲连接
jdbc:
  driverClass: com.microsoft.sqlserver.jdbc.SQLServerDriver
  url: jdbc:sqlserver://121.36.209.245:1433;DatabaseName=F2V20Init1
  username: sa
  password: Fxintel123
#  mysql
#  driverClass: com.mysql.jdbc.Driver
#  url: jdbc:mysql://localhost:3306/pam
#  username: root
#  password: wh2234040

# 日志
logging:
  config: classpath:logback.xml
  level:
    com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver: WARN

jackson:
  # 全局设置@JsonFormat的格式pattern
  date-format: yyyy-MM-dd HH:mm:ss
  # 当地时区
  locale: zh
  # 设置全局时区
  time-zone: GMT+8
  serialization:
    #格式化输出
    indent_output: true
  #      #忽略无法转换的对象
  #      fail_on_empty_beans: false
  #    deserialization:
  #      #允许对象忽略json中不存在的属性
  #      fail_on_unknown_properties: false
  parser:
    #允许出现特殊字符和转义符
    allow_unquoted_control_chars: true
    #允许出现单引号
    allow_single_quotes: true
#    #如果加该注解的字段为null,那么就不序列化这个字段了
#    default-property-inclusion: NON_EMPTY




