<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_PATH" value="D:/var/log"/>
    <property name="LOG_FILE" value="jiuzhou"/>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志日常打印文件 -->
        <file>${LOG_PATH}/${LOG_FILE}/${LOG_FILE}.log</file>
        <!--滚动策略，按照时间滚动 SizeAndTimeBasedRollingPolicy-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${LOG_FILE}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <maxHistory>365</maxHistory>
            <maxFileSize>120MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="prod">
        <logger name="root" level="INFO" additivity="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="INFO_FILE"/>
        </logger>
        <logger name="com.example.jiuzhou.user.mapper" level="DEBUG" additivity="true">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>


</configuration>