<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jiuzhou.user.mapper.AbpBusinessDetailMapper">
    <select id="getByGuid" resultType="com.example.jiuzhou.user.model.AbpBusinessDetail">
        select * from AbpBusinessDetail with(nolock) where guid =#{guid}
    </select>
    <select id="getAllOrder" resultType="com.example.jiuzhou.user.view.ParkOrderView">
        select
            AbpBusinessDetail.Id,
            AbpBusinessDetail.Status,
            AbpBusinessDetail.guid,
            AbpBusinessDetail.PlateNumber,
            AbpBusinessDetail.CarInTime,
            AbpBerthsecs.BerthsecName,
            AbpBusinessDetail.Prepaid,
            AbpBusinessDetail.BerthNumber,
            AbpBusinessDetail.BerthsecId ,
            ap.ParkType
        from AbpBusinessDetail with(nolock)
        right join TUser on CarNumber1 = PlateNumber or CarNumber2 = PlateNumber or CarNumber3 = PlateNumber
        left join AbpBerthsecs on AbpBerthsecs.Id = AbpBusinessDetail.BerthsecId
        LEFT JOIN AbpParks ap on ap.Id=AbpBusinessDetail.ParkId
        where
        TUser.uid = #{uid}
        and Status = 1
        and AbpBusinessDetail.IsDeleted = 0
        order by CarInTime desc
    </select>
    <select id="arrearageList" resultType="com.example.jiuzhou.user.view.ArrearageListView">
        SELECT
            AbpBusinessDetail.Id,
            'true' as isChecked,
            PlateNumber,
            CarInTime,
            CarOutTime,
            Money,
            Arrearage,
            Status,
            BerthsecName,
            Prepaid,
            BerthNumber,
            guid
        FROM AbpBusinessDetail WITH ( nolock )
        RIGHT JOIN TUser ON CarNumber1 = PlateNumber OR CarNumber2 = PlateNumber OR CarNumber3 = PlateNumber
        LEFT JOIN AbpBerthsecs ON AbpBerthsecs.Id = AbpBusinessDetail.BerthsecId
        WHERE
        TUser.uid=#{query.uid}
        AND Status = 3
        AND AbpBusinessDetail.IsDeleted = 0
        <if test="query.plateNumber!=null and query.plateNumber!=''">
            and  PlateNumber LIKE concat('%', #{query.plateNumber}, '%')
        </if>
        ORDER BY
        CarInTime DESC
    </select>
    <select id="getDJOrder" resultType="com.example.jiuzhou.user.view.ArrearageListView">
        SELECT
            AbpBusinessDetail.Id,
            PlateNumber,
            CarInTime,
            CarOutTime,
            Money,
            Arrearage,
            Status,
            BerthsecName,
            Prepaid,
            BerthNumber
        FROM AbpBusinessDetail WITH ( nolock )
        LEFT JOIN AbpBerthsecs ON AbpBerthsecs.Id = AbpBusinessDetail.BerthsecId
        WHERE
        Status NOT IN ( 1, 2, 4 )
        <if test="plateNumber!=null and plateNumber!=''">
            AND PlateNumber = #{plateNumber}
        </if>
        AND AbpBusinessDetail.IsDeleted = 0
        ORDER BY
        CarInTime DESC
    </select>
</mapper>
