<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jiuzhou.user.mapper.AbpMonthlyCarsMapper">
    <insert id="insertOne">
        INSERT INTO
        AbpMonthlyCars
        ( VehicleOwner,Telphone,PlateNumber,Money,ParkIds,BeginTime,EndTime,TenantId,CompanyId,CarType,Version,IsDeleted,DeleterUserId,DeletionTime,LastModificationTime,LastModifierUserId,CreationTime,CreatorUserId,MonthyType,IsSms )
        VALUES( #{query.VehicleOwner},#{query.Telphone},#{query.PlateNumber},#{query.Money},#{query.ParkIds},#{query.BeginTime},#{query.EndTime},#{query.TenantId},#{query.CompanyId},#{query.CarType},#{query.Version},#{query.IsDeleted},#{query.DeleterUserId},#{query.DeletionTime},#{query.LastModificationTime},#{query.LastModifierUserId},#{query.CreationTime},#{query.CreatorUserId},#{query.MonthyType},#{query.IsSms} )
    </insert>
    <select id="monthCad" resultType="com.example.jiuzhou.user.view.MonthCarsView">
        SELECT
        b.*,
        ISNULL(c.ParkType, 2) as ParkType,
        ISNULL(c.ParkName, '不限路段') as ParkName
        from AbpMonthlyCars b
        left join  TUser a on (a.CarNumber1 = b.PlateNumber or a.CarNumber2 = b.PlateNumber or a.CarNumber3 = b.PlateNumber)
        left join AbpParks c on b.ParkIds = c.Id
        WHERE a.uid = #{uid}


    </select>
    <select id="getByPlateNumber" resultType="com.example.jiuzhou.user.model.AbpMonthlyCars">
        select
            *
        from AbpMonthlyCars
        where
        TenantId = #{tenantId}
        and CompanyId = #{tenantId}
        and IsDeleted = 0
        and PlateNumber = #{plateNumber}
    </select>
</mapper>
