<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jiuzhou.user.mapper.AbpParkadeAccessDetailMapper">

    <select id="getLotQrByPlateNumber" resultType="com.example.jiuzhou.user.view.ParkLotQrView">
        select
        top 1
            ad.Id,
            ad.CarInTime,
            ad.CarOutTime,
            ad.ParkId,
            ad.guid,
            ad.CarType,
            bd.PlateNumber,
            bd.CarPayTime,
            bd.Id as BusinessDetailId,
            bd.Prepaid,
            bd.Receivable,
            bd.Money,
            bd.FactReceive,
            bd.BerthsecId
        from AbpParkadeAccessDetail ad
        left join AbpBusinessDetail bd on bd.guid=ad.guid
        where ad.PlateNumber=#{plateNumber}
        and ad.ParkId = #{parkId}
        and ad.CarOutTime is null
        and bd.Status in (1,6)
        order by CarInTime Desc
    </select>
    <select id="getByGuid" resultType="com.example.jiuzhou.user.model.AbpParkadeAccessDetail">
        select * from AbpParkadeAccessDetail where guid =#{guid}
    </select>
</mapper>
