<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jiuzhou.user.mapper.OpinionMapper">
    <insert id="insertOne">
        INSERT INTO
        Opinion
        ( uid,type,context,createTime,status,opinionTime,handleResult )
        VALUES
        ( #{query.uid},#{query.type},#{query.context},#{query.createTime},#{query.status},#{query.opinionTime},#{query.handleResult} )
    </insert>
</mapper>
