<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jiuzhou.user.mapper.TUserMapper">
    <select id="getByTel" resultType="com.example.jiuzhou.user.model.TUser">
        select * from TUser where tel=#{tel}
    </select>
    <select id="getByUid" resultType="com.example.jiuzhou.user.model.TUser">
        select * from TUser where uid=#{uid}
    </select>
    <select id="getByCarNumber" resultType="com.example.jiuzhou.user.model.TUser">
        select * from TUser where CarNumber1=#{plateNumber} or CarNumber2=#{plateNumber} or CarNumber3=#{plateNumber}
    </select>
    <select id="getByOpenId" resultType="com.example.jiuzhou.user.model.TUser">
        select * from TUser where openId=#{openId}
    </select>
    <select id="getByUserId" resultType="com.example.jiuzhou.user.model.TUser">
        select * from TUser where userId=#{userId}
    </select>
</mapper>
